include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/")
          i.fas.fa-cookie.mb-1.mr-2
          | Task Manager
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href=urlFor('users')) Users

            if isSignedIn()
              li.nav-item
                a.nav-link(href=urlFor('profile')) Settings

          if isSignedIn()
            .row.align-items-center
              .nav-item.col
                form(method="POST" action=urlFor('session', {query: '_method=DELETE'}))
                  button.btn.btn-outline-secondary.btn-sm(type='submit') Sign Out
              .nav-item.col: img.rounded-circle(src=userAvatar + '?s=40')

          else
            ul.navbar-nav
              li.nav-item
                a.nav-link(href=urlFor('newSession')) Sign In
              li.nav-item
                a.nav-link(href=urlFor('newUser')) Sign Up

    main.container.container-fluid.mt-5
      - const { msg, level = 'info' } = flash.get() || error || {}
      if msg
        .alert.mt-3(class='alert-' + level)= msg
      block content


    footer.footer
      .container
        span.text-muted Task Manager by &nbsp;
        a(href='https://github.com/rabinzon/') @rabinzon
